/* ========== ABOUT STYLE MODULE ========== */

.aboutPage {
	width: 100%;
	min-height: 100vh;
	background-image: url('../assets/images/about/space-bg.jpg');
	background-size: cover;
	padding: 5rem 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutPage__card {
	width: 100%;
	padding: 5%;
	background-image: url('../assets/images/background/card-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 95% 90%;
	border: 1px solid var(--white, #F0F0F0);
	border-radius: 1.5rem;
	transition: 1s;
}

.aboutPage__card:hover {
	border: 1px solid var(--telescopic, #09C4BD);
}

.aboutPage__title {
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	transition: 1s;
}

.aboutPage__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.aboutPage__text {
	width: 55%;
	font-size: 1.2rem;
	text-align: justify;
	transition: 1s;
}

.aboutPage__image {
	width: 43%;
	border-radius: 1rem;
}

.aboutPage__card:hover .aboutPage__title,
.aboutPage__card:hover .aboutPage__text {
	color: var(--telescopic, #09C4BD);
}