/* ========== FOOTER STYLE MODULE ========== */

.footer {
	width: 100%;
	padding: 0.5rem 5%;
	position: absolute;
	bottom: 0;
	background-color: #242424;
	text-align: center;
	z-index: 1000;
}

.footer__text,
.footer__link {
	font-size: 0.8rem;
}

.footer__link {
	color: var(--white, #F0F0F0);
}

.footer__link,
.footer__link:visited {
	text-decoration: none;
	font-weight: 700;
}