/* ========== MAIN STYLES MODULE ========== */

@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);

:root {
	--black: #212121;
	--telescopic: #09C4BD;
	--white: #F0F0F0;
	--bg-color: #242424;
	--footer-bg: #24242424;
	--rad-gradient: circle at top right,
		#ffffff22 0 25%,
		#000000BB 50% 65%,
		#000000EE 70% 80%,
		#58abff 95% 100%;

	font-family: Orbitron, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: var(--white, #F0F0F0);
	background-color: var(--bg-color, #242424);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}